header, body, .footer-container, footer {
    background-color: #000;
    color: #e0e0e0;
}

a {
    color: #999;
    text-decoration: none;
}

blockquote {
    color: #d0d0d0;
    border-left: 3px solid #d39aff;
    background-color: #d49bff26;
}

a:hover, a:active, .mdi:hover, .mdi:active, .social-icon:hover, .social-icon:active {
    color: #D39AFF;
    text-decoration: underline;
}
